<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.dao.InterviewPromptDao">

    <insert id="insertPrompt" parameterType="com.ssafy.mvc.dto.InterviewPromptDto"
            useGeneratedKeys="true" keyProperty="promptId">
        INSERT INTO interview_prompt (room_id, prompt_type, prompt_text, response_text)
        VALUES (#{roomId}, #{promptType}, #{promptText}, #{responseText})
    </insert>

    <!-- 회원탈퇴 시 해당 유저의 면접방에 속한 프롬프트 기록을 일괄 비활성화 -->
    <update id="deactivateByRoomIds">
        UPDATE interview_prompt SET deleted_at = NOW()
        WHERE room_id IN
        <foreach collection="roomIds" item="roomId" open="(" separator="," close=")">
            #{roomId}
        </foreach>
    </update>

</mapper>
