<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.dao.InterviewPromptDao">

    <insert id="insertPrompt" parameterType="com.ssafy.mvc.dto.InterviewPromptDto"
            useGeneratedKeys="true" keyProperty="promptId">
        INSERT INTO interview_prompt (room_id, prompt_type, prompt_text, response_text)
        VALUES (#{roomId}, #{promptType}, #{promptText}, #{responseText})
    </insert>

</mapper>
