<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.mvc.dao.StoryDao">

    <select id="selectAll" resultType="com.ssafy.mvc.dto.StoryDto">
        SELECT story_id, title, thumbnail, content, views, likes, created_at
        FROM stories
        WHERE is_deleted = 0
        ORDER BY created_at DESC
    </select>

    <select id="selectById" resultType="com.ssafy.mvc.dto.StoryDto">
        SELECT story_id, title, thumbnail, content, views, likes, created_at, updated_at
        FROM stories
        WHERE story_id = #{storyId} AND is_deleted = 0
    </select>

    <insert id="insert" parameterType="com.ssafy.mvc.dto.StoryDto" useGeneratedKeys="true" keyProperty="storyId">
        INSERT INTO stories (title, thumbnail, content)
        VALUES (#{title}, #{thumbnail}, #{content})
    </insert>

    <update id="update" parameterType="com.ssafy.mvc.dto.StoryDto">
        UPDATE stories
        SET title = #{title}, thumbnail = #{thumbnail}, content = #{content}
        WHERE story_id = #{storyId}
    </update>

    <update id="delete">
        UPDATE stories SET is_deleted = 1 WHERE story_id = #{storyId}
    </update>

    <update id="incrementViews">
        UPDATE stories SET views = views + 1 WHERE story_id = #{storyId}
    </update>

    <update id="incrementLikes">
        UPDATE stories SET likes = likes + 1 WHERE story_id = #{storyId}
    </update>

    <update id="decrementLikes">
        UPDATE stories SET likes = GREATEST(likes - 1, 0) WHERE story_id = #{storyId}
    </update>

    <insert id="insertLike">
        INSERT IGNORE INTO story_likes (user_id, story_id) VALUES (#{userId}, #{storyId})
    </insert>

    <delete id="deleteLike">
        DELETE FROM story_likes WHERE user_id = #{userId} AND story_id = #{storyId}
    </delete>

    <select id="existsLike" resultType="boolean">
        SELECT COUNT(*) <![CDATA[>]]> 0
        FROM story_likes
        WHERE user_id = #{userId} AND story_id = #{storyId}
    </select>

    <select id="selectLikedStoryIds" resultType="long">
        SELECT story_id FROM story_likes WHERE user_id = #{userId}
    </select>

</mapper>
